.hero{
    background-image: url(image.jpg);
    background-size: cover;
    background-position: center;
    padding: 300px ;
    text-align: center;
    color: rgb(62, 58, 53);
    font-size: 24px;
    margin-bottom: 20px;
}
.column{
    float:right;
    width:500px;
    padding: 10px;
}
.row{
    content: 500px;
    display:table;
    clear:both

}
.itms{
    display:flex;
}
.contact{
    display: center;
}
